[defaults]
vault_password_file = /home/simspace/.vault_pass
interpreter_python = /usr/bin/python3
python_interpreter_discovery = explicit

show_custom_stats = true
display_skipped_hosts = false
host_key_checking = false
log_path = ~/.ansible/ansible.log
roles_path = /etc/ansible/roles
remote_tmp = /tmp/${USER}/.ansible
forks = 8
retry_files_enabled = true
retry_files_save_path = ./retry

[ssh_connection]
pipelining = true
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
